.search-form {
  display: flex; /* Flex container for form elements */
  flex-direction: column; /* Stack fields vertically */
  gap: 20px;
  padding: 15px;
  margin-bottom: 50px;
  background-color: #e4edfb;
  border-radius: 14px;
  border: 2px solid #012b69;
}

/* Each field full width */
.form-group {
  width: 100%;
}

/* Text input */
.text-input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1.5px solid #c8c8c8;
  font-size: 1rem;
}

/* Search button */
.search-btn {
  background-color: #0764c8;
  color: #ffffff;
  border: none; /* Remove default border */
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.search-btn:hover {
  background-color: #022b5a;
}